<div class="container">

    <div class="action-container">
      <div class="action-buttons">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fa-solid fa-plus"></i> Buch hinzufügen
        </button>

        <!--Clear Localstorage-->
        <button type="button" class="btn btn-primary" (click)="clearLocalStorage()">
          <i class="fa-solid fa-eraser"></i> Localstorage leeren
        </button>
      </div>
    </div>
    

    <!--Book Table-->
      <table id="bookTable" class="table table-hover table-dark table-striped">
          <thead>
            <tr>
                <!--Autor,Titel, Erscheinungsjahr, Seiten, Verlag-->
              <th scope="col">#</th>
              <th scope="col">Titel</th>
              <th scope="col">Autor</th>
              <th scope="col">Erscheinungsjahr</th>
              <th scope="col">Seiten</th>
              <th scope="col">Verlag</th>
              <th scope="col">Preis</th>
              <th scope="col">Editieren</th>
              <th scope="col">Löschen</th>
            </tr>
          </thead>
          <tbody id="bookrows">
            <tr *ngFor="let row of this.rowData; let i=index">
              <th scope="row">{{ row.id }}</th>
              <td>{{ row.title }}</td>
              <td>{{ row.author }}</td>
              <td>{{ row.year }}</td>
              <td>{{ row.sites }}</td>
              <td>{{ row.publisher }}</td>
              <td>{{ row.price }}</td>

              <!--actions-->
              <td>
                <div class="edit" (click)="editRow(i)">
                  <i class="fa-solid fa-pen"></i>
                </div>
              </td>
              <td>
                <div class="delete" (click)="deleteRow(i)">
                  <i class="fa-solid fa-trash"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
  <!--LISTE-->

  <!--Modal-->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Buch hinzufügen</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <!--FORM-->
          <form id="addRow" [formGroup]="this.rowForm">
              <div class="modal-body">
                  <!--Titel-->
                  <label class="form-label" for="titel">Titel</label>
                  <input class="form-control" type="text" formControlName="title">
                
                  <!--Autor-->
                  <label class="form-label" for="autor">Autor</label>
                  <input class="form-control" type="text" formControlName="author">

                  <!--Erscheinungsjahr-->
                  <label class="form-label" for="jahr">Erscheinungsjahr</label>
                  <input class="form-control" type="text" formControlName="year">
                  
                  <!--Seiten-->
                  <label class="form-label" for="seiten">Seiten</label>
                  <input class="form-control" type="number" formControlName="sites">

                  <!--Verlag-->
                  <label class="form-label" for="verlag">Verlag</label>
                  <input class="form-control" type="text" formControlName="publisher">
                  
                  <!--Preis-->
                  <label class="form-label" for="preis">Preis</label>
                  <input class="form-control" type="text" formControlName="price">
              </div>

              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" (click)="addRow()" [disabled]="!(this.rowForm.dirty && this.rowForm.valid)">Hinzufügen</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
              </div>
          </form>
        </div>
      </div>
  </div>

  <div id="output"></div>