<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sehenswürdigkeiten
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sehenswürdigkeiten</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- List of Text Items -->
<ion-list>
  <!--Ab hier sights-->
  <ion-item *ngFor="let sight of this.sightService.getSights()">
    <ion-avatar slot="start">
      <img src="https://i.guim.co.uk/img/media/26392d05302e02f7bf4eb143bb84c8097d09144b/446_167_3683_2210/master/3683.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=49ed3252c0b2ffb49cf8b508892e452d" alt="123">
    </ion-avatar>
    <ion-label>{{ sight.name }}</ion-label>
  </ion-item>
</ion-list>

<!--Floating ADD Button-->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="primary">
    <ion-icon (click)="this.showModal()" name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
  
</ion-content>
