.logo i {
    font-size: 50px;
}

.violet {
    background-color: #4F5B93;
}

.light-violet {
    background-color: #8892BF;
}

form {
    width: 350px;
}

.edit:hover i {
    color: orange;
    cursor: pointer;
}

.delete:hover i {
    color: #f03;
    cursor: pointer;
}
