.logo i {
    font-size: 50px;
}

.violet {
    background-color: #4F5B93;
}

.light-violet {
    background-color: #8892BF;
}

form {
    width: 350px;
}

.edit:hover i {
    color: orange;
    cursor: pointer;
}

.delete:hover i {
    color: #f03;
    cursor: pointer;
}

.kalender-control {
    display: flex;
    justify-content: space-between;
}

.monat {
    display: flex;
    justify-content: center;
}

td {
    height: 100px;
    border: 1px solid #fff;
}

#today {
    background-color: yellow;
}
